{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
<form method="post">
	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	{% if app.user %}
		<div class="mb-3">
			You are logged in as
			{{ app.user.userIdentifier }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% else %}

		<h1 class="fs-1 mb-3 text-center">Connexion</h1>
		<div class="container">
			<label for="username">Username</label>
			<input type="text" value="{{ last_username }}" name="username" id="username" class="form-control" autocomplete="username" required autofocus>
			<label for="password" class='mt-3'>Password</label>
			<input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button type="submit" class="btn form-submit-btn colorWhite my-3">Connexion</button>
		</button>
	</form>
	<p>Pas de compte ? <a href="{{ path('app_register') }}" class="colorBlack">Inscris-toi ici</a></p>
</div>{% endif %}{% endblock %}
